{
    "extends":"airbnb",
    "rules":{
        "react/jsx-filename-extension": 0,
        "import/prefer-default-export": 0,
        "arrow-body-style": 0,
        "jsx-ally/anchor-is-valid":0,
        "react/prefer-stateless-function": 0
    },
    "env":{
        "es6": true,
        "browser": true,
        "jest": true
    }
}
