.navbar {
  margin-bottom: 30px;
}

.navbar {
  background: linear-gradient(to right, #0160b2, #0174b2);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.navbar-brand,
.navbar-brand.active,
.navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-dark .navbar-nav .dropdown-item .nav-link {
  color: #212529;
  text-decoration: none;
}
